.my-list {
    margin:auto;
    Background-color: #81f79f;
    Padding: 8px 24px;
    Width: 500px;
    font-size: 40px;
    Border: 1px solid #81f79f;
    Background-Color: #81f79f;
    box-shadow: 0 0 10px 2px #333333;
}
ol {
    margin: 20px;
}
p {
    text-align: center;
}